#contents > ytd-rich-grid-row {
  opacity: 0;
  pointer-events: none;
}

#center {
  width: 60vw;
  position: fixed;
  top: 40vh;
  left: calc((100vw - 60vw - 77px) / 2);
}

#logo-icon {
  width: 360px;
  height: 120px;
  position: fixed;
  top: calc(40vh - 180px);
  left: calc((100vw - (360px + 30px)) / 2);
}

@media (min-width: 1200px) {
  #center {
    width: 720px;
    left: calc((100vw - 720px - 77px) / 2);
  } 
}
